extends layout

block content
  h1 #{title}
  form(method='POST' action='')
    div.form-group
      label(for='txName') Name:
      input#txName.form-control(type='text' required='true' placeholder='Enter a new account name' name='Name_frm' value=(undefined===account_frm ? '' : account_frm.Name))
      label(for='txLocalId') LocalId:
      input#txLocalId.form-control(type='number' required='true' name='LocalId_frm' value=(undefined===account_frm ? '' : account_frm.LocalId))
      label(for='txOrderNumber') OrderNumber:
      input#txOrderNumber.form-control(type='number' name='OrderNumber_frm' value=(undefined===account_frm ? '' : account_frm.OrderNumber))
      label(for='txOrderInNumber') OrderInNumber:
      input#txOrderInNumber.form-control(type='number' name='OrderInNumber_frm' value=(undefined===account_frm ? '' : account_frm.OrderInNumber))
      label(for='txOrderOutNumber') OrderOutNumber:
      input#txOrderOutNumber.form-control(type='number' name='OrderOutNumber_frm' value=(undefined===account_frm ? '' : account_frm.OrderOutNumber))
      label(for='chIsUntouchable') IsUntouchable:
      input#chIsUntouchable.form-control(type='checkbox' name='IsUntouchable_frm' checked=(undefined===account_frm ? false : account_frm.IsUntouchable))
      label(for='chIsArchived') IsArchived:
      input#chIsIsArchived.form-control(type='checkbox' name='IsIsArchived_frm' checked=(undefined===account_frm ? false : account_frm.IsArchived))
    button.btn.btn-primary(type='submit') Submit
  if errors 
    ul
      for error in errors
        li!= error.msg