extends layout

block content
  h1= title
  p Welcome to #[em BudgetWeb] dep3.
  p time #{time}

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p The base has the following record counts:

    ul
      li #[strong Tags:] !{data[0]}
      li #[strong Orders:] !{data[1]}
