doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block mystyles

  body
    div
      table
        tr
          td
            a(class='mainLink' href='/order/create') Create new order
          td
            a(class='mainLink' href='/orders') All orders
          td
            a(class='mainLink' href='/wiki') Wiki            
    div(class='col-sm-10')
      block content

//a(class='mainLink' href='/catalog') Home
//a(class='mainLink' href='/catalog/tags') All tags
//a(class='mainLink' href='/catalog/orders') All orders
//a(class='mainLink' href='/catalog/tag/create') Create new tag
//a(class='mainLink' href='/catalog/order/create') Create new order
//a(class='mainLink' href='/catalog/orders/export') Export orders