extends layout

block content
  h1= title
  
  ul
  each sOrder in serviceOrders_list
    li 
      a(href=sOrder.url) #{sOrder.Type}  
      | (#{sOrder._id})

  else
    li There are no service orders.