extends layout
block scripts
   script.
     var chartListRub=!{JSON.stringify(chartListRub)}; 
     var chartListDram=!{JSON.stringify(chartListDram)}; 
   script(src='/javascripts/totalSumChart.js')
block wideContent
  div#totalSumChartContainerRub
  div#totalSumChartContainerDram
   
            