extends layout
block scripts
   script.
     var totalSum_list=!{JSON.stringify(chartList)}; 
   script(src='/javascripts/totalSumChart.js')
block chartContent
  div#totalSumChartContainer
   
            