extends layout
block scripts
   script.
     var totalSum_list=!{JSON.stringify(totalSum_list)}; 
   script(src='/javascripts/totalSumChart.js')
block content
  div#totalSumChartContainer
   
            