extends layout

block content
  p 
    a(class='mainLink' href='/account/aggregatedList') Accounts aggregatedList
  p 
    a(class='mainLink' href='/serviceOrder/create') Create SOrder
  p 
    a(class='mainLink' href='/serviceOrder/list') SOrder list    
  p 
    a(class='mainLink' href='/fullBackup') fullBackup
  p 
    form#uploadForm(action="/restore" enctype="multipart/form-data" method="post")
      input(type="file" name="file")
      a(class='mainLink' onclick='parentNode.submit();') Restore
  p 
    a(class='mainLink' href='/deleteall') DeleteOrdersAndTags
  p 
    a(class='mainLink' href='/order/list') All orders
  p 
    a(class='mainLink' href='/paymentType/list') PaymentTypes
  p 
    a(class='mainLink' href='/paymentType/create') PaymentTypes Create
  p 
    a(class='mainLink' href='/paymentType/updatelists') PaymentTypes UpdateLists
  p 
    a(class='mainLink' href='/serviceOrder/updatelists')  SOrder UpdateLists
  p 
    a(class='mainLink' href='/account/create') Account create

  
  