extends layout

block content
  p 
    a(class='mainLink' href='/backup') Backup
  p 
    form#uploadForm(action="/restore" enctype="multipart/form-data" method="post")
      input(type="file" name="file")
      a(class='mainLink' onclick='parentNode.submit();') Restore
  p 
    a(class='mainLink' href='/deleteall') DeleteOrdersAndTags
  p 
    a(class='mainLink' href='/order/list') All orders
  p 
    a(class='mainLink' href='/paymentType/list') PaymentTypes
  p 
    a(class='mainLink' href='/account/list') Accounts
  
  