extends layout

block content
  p 
    a(class='mainLink' href='/account/aggregatedList') Accounts aggregatedList
  p 
    a(class='mainLink' href='/serviceOrder/create') Create SOrder
  p 
    a(class='mainLink' href='/serviceOrder/list/true') SOrder list    
  p 
    a(class='mainLink' href='/fullBackup') fullBackup
  p 
    form#uploadForm(action="/restore" enctype="multipart/form-data" method="post")
      input(type="file" name="file")
      a(class='mainLink' onclick='parentNode.submit();') Restore
  p 
    a(class='mainLink' href='/deleteall') DeleteOrdersAndTags
  p 
    a(class='mainLink' href='/order/list/true') All orders
  p 
    a(class='mainLink' href='/serviceOrder/updatelists')  SOrder UpdateLists
  p 
    a(class='mainLink' href='/account/create') Account create
  p 
    a(class='mainLink' href='/updateLists') Update Lists
  p 
    a(class='mainLink' href='/mixOrders') Mix orders
  p 
    a(class='mainLink' href='/account/list') Plain account list   
  p
    a(class='mainLink' href='/fixRecord/deleteStartMonthRecords') Delete 'Start Month Records'
  p
    a(class='mainLink' href='/order/populatePaymentAccount') Populate PaymentAccount properties'    
  p
    a(class='mainLink' href='/fixrecord/createTotalSums') Create  'TotalSum' fix records for prev months 
  p
    a(class='mainLink' href='/fixrecord/showTotalSumsChart') Show 'TotalSum' chart

  
  