.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}
.mainLink
{
  text-decoration:none;
  border:1px solid #4285f4;
  background:#4285f4;
  display: inline-block;
  line-height: 50px;
  font-size: 15px;
  border-radius: 12px;
  cursor: default;
  color: #fff;
  position: relative;
  text-align: center;
  width: 100%;
}
.tdLinkHolder{
  padding: 3px;
}
.col-lg-5{
  float: none;
}
.mainLink:hover
{
text-decoration: none;
}
#btnDisableAfterClick
{
	width: 100%;
	height: 60px;
}
#btnSetYesterday
{
	height: 34px;
}
.dx-datagrid-rowsview,
.dx-datagrid-scroll-container
{
  overflow: visible;
}
#statisticTable
{
  width: 100%;
}
.spentLabel
{
  color:rgb(153, 211, 66);
}
.spentLabel[overflownorm]
{
  color:red;
}
.plainLabel
{
  font-weight: normal;
}
.yaLabel {
  background: beige;
}
.yaLabel5 {
  color: red;
}