.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
.mainLink
{
text-decoration:none;
border:1px solid #4285f4;
background:#4285f4;
width:150;

display: inline-block;
line-height: 50px;
padding: 0 12px;
font-size: 18px;
border-radius: 2px;
cursor: default;
color: #fff;
position: relative;
text-align: center;

}